# 實作練習
## Kaggle鐵達尼號生還者預測

### import必要套件

In [99]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets , preprocessing , linear_model
from sklearn.linear_model import LogisticRegression

讀取訓練資料檔案(csv)

In [128]:
train_data=pd.read_csv("train.csv")   # 將cvs檔案以pandas開啟
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [80]:
train_data['Sex'][:5]

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [81]:
train_data.isnull().sum() #nam值無法輸入模型

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [82]:
train_data["Age"].dropna()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64

In [129]:
train_data['Age']=train_data['Age'].fillna(int(train_data['Age'].mean()))
train_data['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    29.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [130]:
lben=preprocessing.LabelEncoder() #將文字轉換成數字 
train_data['Sex']=lben.fit_transform(train_data['Sex'])
train_data['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int32

In [85]:
train_data['Cabin'][:5]
cabin_data = train_data['Cabin']

# 使用正则表达式提取英文字母部分
letters = cabin_data.str.extract(r'([A-Za-z]+)')
letters_filled = letters.fillna("Unknown")
letters_filled=lben.fit_transform(letters_filled)
letters_filled

c:\Users\sw_ya\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([8, 2, 8, 2, 8, 8, 4, 8, 8, 8, 6, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 3,
       8, 0, 8, 8, 8, 2, 8, 8, 8, 1, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 8, 3, 8, 1, 2, 8, 8, 8, 8, 8, 1, 2, 8, 8, 8,
       5, 8, 8, 8, 8, 8, 8, 8, 8, 5, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       2, 8, 8, 8, 4, 8, 8, 8, 0, 3, 8, 8, 8, 8, 3, 8, 8, 8, 8, 8, 8, 8,
       2, 8, 8, 8, 8, 8, 8, 8, 1, 8, 8, 8, 8, 4, 3, 8, 8, 8, 5, 8, 8, 8,
       8, 8, 8, 8, 3, 2, 8, 1, 8, 8, 8, 8, 8, 8, 8, 8, 5, 8, 8, 2, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 4, 8, 8, 8, 1, 8, 8, 8, 0, 8,
       8, 2, 8, 8, 8, 8, 8, 5, 8, 0, 8, 8, 8, 8, 8, 8, 8, 5, 1, 1, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 6, 8, 8, 8, 0, 8, 8, 8, 8, 8, 3, 8, 8, 3, 8,
       8, 8, 8, 8, 2, 8, 8, 8, 8, 8, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 2, 8, 8, 3, 8, 8, 6, 2, 8, 8, 8, 8, 1, 8, 8, 8, 8, 4, 1,
       8, 8, 8, 8, 2, 2, 8, 8, 8, 2, 8, 3, 8, 8, 8, 8, 8, 8, 8, 8, 0, 8,
       8, 8, 8, 8, 8, 1, 3, 8, 8, 8, 8, 2, 2, 1, 8, 8, 8, 4, 8, 2, 8, 2,
       8, 4, 2, 1, 8, 8, 8, 8, 8, 8, 2, 4, 8, 8, 8, 8, 8, 2, 8, 3, 8, 1,
       8, 2, 2, 8, 8, 8, 2, 4, 8, 7, 5, 2, 8, 8, 8, 5, 8, 8, 8, 8, 8, 2,
       8, 8, 8, 8, 4, 8, 8, 8, 8, 8, 8, 8, 8, 8, 3, 8, 8, 1, 4, 8, 8, 8,
       8, 8, 8, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 1, 8, 8, 3, 6, 8,
       8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 4, 2, 8, 8, 8, 4, 1, 8, 8, 2, 8,
       8, 8, 8, 8, 8, 0, 8, 8, 8, 2, 8, 8, 2, 2, 8, 8, 4, 3, 8, 8, 4, 8,
       4, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 3, 8, 0, 8, 8, 8, 8, 8, 8, 8, 8,
       1, 8, 2, 1, 8, 8, 8, 8, 2, 8, 8, 8, 3, 8, 2, 8, 8, 8, 8, 8, 1, 2,
       8, 8, 8, 8, 8, 8, 4, 8, 8, 3, 5, 8, 8, 8, 1, 8, 8, 1, 8, 8, 8, 2,
       8, 8, 8, 8, 8, 8, 8, 8, 1, 8, 8, 1, 1, 8, 8, 8, 2, 8, 8, 8, 8, 8,
       2, 8, 8, 8, 8, 8, 0, 8, 4, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2,
       4, 8, 8, 8, 8, 4, 8, 8, 8, 2, 8, 0, 8, 4, 8, 1, 8, 8, 8, 3, 8, 8,
       8, 8, 8, 8, 8, 0, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 8, 8, 8, 8, 8, 8,
       8, 8, 5, 8, 8, 3, 8, 8, 8, 3, 8, 3, 8, 8, 0, 8, 1, 8, 8, 8, 8, 8,
       8, 8, 8, 1, 8, 8, 8, 3, 8, 0, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 3,
       8, 8, 4, 8, 8, 8, 8, 8, 8, 2, 8, 1, 8, 8, 8, 8, 8, 8, 8, 1, 8, 3,
       8, 8, 8, 8, 8, 8, 8, 1, 1, 8, 8, 8, 8, 8, 8, 8, 2, 5, 2, 4, 8, 8,
       8, 8, 8, 4, 8, 8, 2, 2, 2, 8, 8, 5, 2, 4, 8, 8, 8, 8, 8, 8, 4, 8,
       8, 8, 8, 8, 1, 8, 8, 8, 8, 8, 8, 1, 8, 8, 3, 2, 1, 8, 8, 1, 8, 8,
       3, 8, 8, 4, 8, 8, 8, 8, 8, 8, 8, 1, 8, 8, 8, 1, 8, 3, 8, 8, 8, 8,
       8, 8, 4, 8, 8, 8, 5, 8, 8, 1, 8, 1, 3, 8, 8, 8, 8, 8, 8, 1, 8, 8,
       8, 8, 8, 8, 3, 8, 8, 8, 8, 8, 1, 8, 8, 8, 0, 8, 8, 4, 8, 8, 8, 8,
       8, 1, 8, 8, 8, 8, 1, 8, 8, 4, 8, 8, 8, 8, 8, 1, 8, 8, 8, 8, 8, 4,
       8, 8, 8, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 8, 8, 8, 3, 8, 8, 8, 4,
       8, 8, 8, 8, 3, 8, 8, 8, 8, 0, 8, 8, 8, 3, 1, 8, 8, 8, 8, 8, 8, 2,
       8, 8, 8, 8, 8, 8, 8, 1, 8, 2, 8])

In [131]:

# print(train_data['Fare'][:5])
# num_rows = train_data.shape[0]
# for i in range(num_rows):
#     if train_data['Fare'][i]>70:
#         train_data['Fare'][i]=0
#     elif train_data['Fare'][i]<=70 and train_data['Fare'][i]>50:
#         train_data['Fare'][i]=1
#     elif train_data['Fare'][i]<=50 and train_data['Fare'][i]>30:
#         train_data['Fare'][i]=2
#     elif train_data['Fare'][i]<=30 and train_data['Fare'][i]>10:
#         train_data['Fare'][i]=3
#     else:
#         train_data['Fare'][i]=4


train_data['Fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [132]:
train_data['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [133]:
train_data['Embarked']
most_common_embarked = train_data['Embarked'].value_counts().idxmax()
train_data['Embarked']=train_data['Embarked'].fillna(most_common_embarked)
train_data['Embarked']=lben.fit_transform(train_data['Embarked'])
train_data['Embarked']

0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: Embarked, Length: 891, dtype: int32

In [151]:
x=pd.DataFrame([train_data['Sex'],train_data['Pclass'],train_data['Fare'],train_data['Embarked'],train_data['Age']]).T
y=train_data['Survived']
model=LogisticRegression()
model.fit(x,y)
feature_weights = model.coef_
print("特徵的權重：", feature_weights)
print('訓練準確度',model.score(x,y))

特徵的權重： [[-2.50384441e+00 -1.10890102e+00 -5.08795738e-05 -2.72126524e-01
  -3.25964641e-02]]
訓練準確度 0.7901234567901234

In [11]:
test_df=pd.read_csv('test.csv')
test_df['Age']=test_df['Age'].fillna(int(train_data['Age'].mean()))
test_df['Sex']=lben.fit_transform(test_df['Sex'])
x_test=pd.DataFrame([test_df['Sex'],test_df['Age']]).T
y_test=model.predict(x_test)
test_df['Survived']=pd.DataFrame(y_test)
output=pd.DataFrame([test_df['PassengerId'],test_df['Survived']]).T
output.to_csv('sub.csv',index=False)